@model MobileWeb.Models.EventVM

<div class="lp-element lp-pom-root" id="lp-pom-root" style="min-width: 422px;">
    <a href="@Model.EventUrl">
        <div class="lp-positioned-content" style="width: 422px; margin-left: -211px;">
            <div class="lp-element lp-pom-text" id="lp-pom-text-39" style="height: auto;">
                <p xmlns="" class="lplh-22">
                    <span style="color: rgb(51, 51, 51); text-shadow: 1px 1px rgb(255, 255, 255);"><span style="font-size: 18px;"><span style="font-family: pt serif;">
                        @Model.Name</span></span></span>
                </p>
            </div>
            <div class="lp-element lp-pom-image" id="lp-pom-image-40">
                <div class="lp-pom-image-container" style="overflow: hidden;">
                    <img src="@Model.ImageUrl" alt="">
                </div>
            </div>
            <div class="lp-element lp-pom-text" id="lp-pom-text-50" style="height: auto;">
                <p>
                    <span style="color: rgb(82, 82, 82); text-shadow: 1px 1px rgb(255, 255, 255); font-size: 12px;">@Model.Time</span>
                </p>
            </div>
            <div class="lp-element lp-pom-text" id="lp-pom-text-51" style="height: auto;">
                <p>
                    <span style="color: rgb(82, 82, 82); text-shadow: 1px 1px rgb(255, 255, 255); font-size: 12px;">@Model.Venue</span>
                </p>
            </div>
            <div class="lp-element lp-pom-text" id="lp-pom-text-52" style="height: auto;">
                <p style="text-align: right;">
                    <span style="color: rgb(82, 82, 82); text-shadow: 1px 1px rgb(255, 255, 255); font-size: 12px;">@Model.AttendingCount Attending</span>
                </p>
            </div>
        </div>
    </a>
    <div class="lp-element lp-pom-block" id="lp-pom-block-12" style="position: relative;">
        <div class="lp-pom-block-content" style="margin: auto; width: 100%; height: 100%;"></div>
    </div>
</div>

